.app-container {
  max-width: 100vw;
 /* add some padding */

  @media (max-width: 900px) {
    max-width: 100vw; /* 70% of viewport width */
}
@media (max-width: 600px) {
  max-width: 100vw; /* 60% of viewport width */
}
}

/* adjust max-width based on viewport size */



.docker-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr)); /* adjusted width */
  gap: 15px;
  /* add media queries for different screen sizes */
  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));

  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.docker-item {
  background-color: var(--card-bg);
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.docker-item.expanded {
  transition: height 0.3s ease;
  /* Animasi untuk expand */
}

.docker-item h2 {
  color: var(--primary-text);
  margin-bottom: 5px;
  line-height: 0.5;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    font-size: 0.9rem;
    line-height: 0.5  ;

  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 600px) {
    font-size: 0.8rem;

    grid-template-columns: 1fr;
  }
}

.docker-item p {
  color: var(--secondary-text);
  font-size: 1rem;
}

.docker-item span {
  color: var(--secondary-text);
  font-size: 1rem;
}

.tags-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* Spasi antar tags */
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.test2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  gap: 5px;
}

.tag-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}

.tag-name {
  color: var(--primary-text);
}

.latest-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-size {
  color: var(--secondary-text);
}

.Size-text {
  color: var(--primary-text);
  font-weight: bold;
}


.file-info p {
  color: var(--primary-text);
  font-weight: bold;
  @media (max-width: 1200px) {
    font-size: 0.8rem;

  }
  @media (max-width: 900px) {
    font-size: 0.5rem;
  }
  @media (max-width: 600px) {
    font-size: 0.7rem;
    line-height: 1 ;
    grid-template-columns: 1fr;
  }
}

.file-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.file-info{
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
}

.tag-count{
    margin-top: 16px;
    margin-right: 5px;

  @media (max-width: 600px) {
    margin-top: 2px;
    margin-right: 5px;
    
  }
}
.tag-count span{
  @media (max-width: 1200px) {
    font-size: 0.8rem;

  }
  @media (max-width: 900px) {
  }
  @media (max-width: 600px) {
    font-size: 0.7rem;
    
  }
}

/* Variables for light and dark mode */
:root {
  --card-bg: #1f1f1f;
  --secondary-bg: #2c2c2c;
  --primary-text: #1db954;
  --secondary-text: #bbb;
}

.light {
  --card-bg: #fff;
  --secondary-bg: #f1f1f1;
  --primary-text: #007aff;
  --secondary-text: #333;
}