.app-container {
  max-width: 100vw;
 /* add some padding */
  @media (max-width: 900px) {
    max-width: 100vw; /* 70% of viewport width */
}
@media (max-width: 600px) {
  max-width: 100vw; /* 60% of viewport width */
}
}
/* adjust max-width based on viewport size */
.docker-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr)); /* adjusted width */
  gap: 15px;
  /* add media queries for different screen sizes */
  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.docker-item {
  background-color: var(--card-bg);
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.docker-item.expanded {
  transition: height 0.3s ease;
  padding-bottom: 10px;
  /* Animasi untuk expand */
}

.docker-item h2 {
  color: var(--primary-text);
  margin-bottom: 5px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    font-size: 0.9rem;
    line-height: 0.5  ;
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 600px) {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}

.docker-item p {
  color: var(--secondary-text);
  font-size: 0.9rem;
  white-space: nowrap;
}
.file-info p {
  color: var(--primary-text);
  font-weight: bold;
  @media (max-width: 1200px) {
    font-size: 0.8rem;
  }
  @media (max-width: 900px) {
    font-size: 0.5rem;
  }
  @media (max-width: 600px) {
    font-size: 0.7rem;
    line-height: 1 ;
    grid-template-columns: 1fr;
  }
}

.docker-item span {
  color: var(--secondary-text);
  font-size: 1rem;
}

.tags-list {
  display: flex;
  flex-direction: column;
  /* Spasi antar tags */
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.test2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  gap: 5px;
}

.image-name{
  margin: 0px;
}

.tag-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tag-name {
  color: var(--primary-text);
}

.latest-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-size {
  color: var(--secondary-text);
}

.Size-text {
  color: var(--primary-text);
  font-weight: bold;
  
}

.file-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.file-info{
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
}
.tag-count{
    margin-top: 16px;
    margin-right: 5px;
  @media (max-width: 600px) {
    margin-top: 2px;
    margin-right: 5px;
    
  }
}
.tag-count span{
  @media (max-width: 1200px) {
    font-size: 0.8rem;
  }
  @media (max-width: 900px) {
  }
  @media (max-width: 600px) {
    font-size: 1rem;
    
  }
}

/* Variables for light and dark mode */
:root {
  --card-bg: #1f1f1f;
  --secondary-bg: #2c2c2c;
  --primary-text: #1db954;
  --secondary-text: #bbb;
}

.light {
  --card-bg: #fff;
  --secondary-bg: #f1f1f1;
  --primary-text: #007aff;
  --secondary-text: #333;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tag-table td{
  background-color:var(--secondary-bg);
}

.modal-content {
  background-color:var(--card-bg);
  color: var(--primary-text);
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  /*max-width: 50vw;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.halookak{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.halookak h3{
  margin: 0px;
}

.tag-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.quantitive-name{
  border-style: solid 1px ;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  border-radius: 12px;
  padding: 5px;

}

.tag-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.tag-table td:first-child {
  font-weight: bold;
  width: 50%;
  background-color: var(--secondary-bg); /* Untuk memberikan warna berbeda di kolom kiri */
}

.tag-details-text{
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 0px;
  padding: 8px 12px;
  background-color:var(--primary-text);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.modal-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-content button:hover {
  background-color: #0056b3;
}
