/* src/components/DockerList.css */
.docker-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    gap: 15px;
  }
  
  .docker-item {
    background-color: var(--card-bg);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    overflow: hidden; /* untuk menyembunyikan elemen saat height terbatas */
    height: 80px; /* ketinggian default saat collapsed */
    cursor: pointer;
  }
  
  .docker-item.expanded {
    height: 231px; /* ketinggian saat item di-expand */
  }

  .docker-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
  }
  
  .docker-item h2 {
    color: var(--primary-text);
    font-size: 1.4rem;
    margin-bottom: 5px;
    line-height: 0.5;
  }
  
  .docker-item p {
    color: var(--secondary-text);
    font-size: 1rem;
    line-height: 0.5;
  }

  .docker-item span {
    color: var(--secondary-text);
    font-size: 1rem;
    line-height: 0.5;
  }
  
  /* Variables for light and dark mode */
  :root {
    --card-bg: #1f1f1f;
    --primary-text: #1db954;
    --secondary-text: #bbb;
  }
  
  .light {
    --card-bg: #fff;
    --primary-text: #007aff;
    --secondary-text: #333;
  }
  