/* src/components/FilterButtons.css */

.buttons{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filter-buttons {
  display: flex;
    gap: 5px;
  }
  
  .filter-buttons button {
    border-radius: 50px;
    padding: 12px 30px;
    background-color: #007aff;
    color: white;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-buttons button:hover {
    background-color: #005bb5;
  }

  .button-showall button{
    border-radius: 50px;
    padding: 12px 30px;
    background-color: #007aff;
    color: white;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-showall button:hover{
    background-color: #005bb5;   
  }
  
  /* Dark and Light Mode Styling */
  .dark .filter-buttons button {
    background-color: #1db954;
  }
  .dark .filter-buttons button:hover {
    background-color: #97b6d6;
  }
  
  .light .filter-buttons button {
    background-color: #007aff;
  }
  .light .filter-buttons button:hover {
    background-color: #97b6d6;
  }

  .dark .button-showall .active{
    background-color: #1db954;
  }
  .dark .button-showall .inactive{
    background-color: #ff0048;
  }
  .dark .button-showall button:hover {
    background-color: #97b6d6;
  }  
  
  .light .button-showall .active {
    background-color: #007aff;
  }
  .light .button-showall .inactive {
    background-color: #ff0048;
  }
  .light .button-showall button:hover {
    background-color: #97b6d6;
  }


  