/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*Ensures footer stays at the bottom*/
}
@media (max-width: 600px) {
  .app-header {
    flex-direction: column;
  }
  .search-filter-container {
    flex-direction: column;
    align-items: center;
  }
  .search-bar {
    width: 100%;
    margin-bottom: 20px;
  }
  .filter-buttons {
    width: 100%;
  }
}


.app-header {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
  @media (max-width: 600px) {
    gap: 0 px;
  /* 60% of viewport width */
  }
}


.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 20px;
}

/* Main content styling */
.main-content {
  flex: 1; /* Ensures main content takes available space */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styling */


/* Dark and Light Mode Styles */
.dark {
  background-color: #121212;
}

.light {
  background-color: #ffffff;
}

.dark .search-filter-container{
  color: white;
}

.light .search-filter-container{  
  color: black;
}
