/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*Ensures footer stays at the bottom*/
}

.app-header {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
}


.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0; /* Add some margin for spacing */
}

.theme-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 20px;
}

/* Main content styling */
.main-content {
  flex: 1; /* Ensures main content takes available space */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styling */
.footer {
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Dark and Light Mode Styles */
.dark {
  background-color: #121212;
}

.light {
  background-color: #ffffff;
}

.dark .search-filter-container{
  color: white;
}

.light .search-filter-container{  
  color: black;
}
